.snow-container {
  text-align: center;
  background-color: #f0f8ff;
  position: relative;
  overflow: hidden;
  min-height: 10px;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: #1347e3;
  text-shadow: 0 0 3px rgba(12, 22, 216, 0.7);
  max-width: 800px;
  margin: 2rem auto;
}

.snow-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.snowflake {
  color: #fff;
  font-size: 1.5rem;
  position: absolute;
  top: -10px;
  animation: fall linear infinite;
  opacity: 0.9;
}

.snowflake:nth-child(1) {
  left: 5%;
  animation-duration: 4s;
}

.snowflake:nth-child(2) {
  left: 15%;
  animation-duration: 5s;
}

.snowflake:nth-child(3) {
  left: 25%;
  animation-duration: 3.5s;
}

.snowflake:nth-child(4) {
  left: 35%;
  animation-duration: 4.5s;
}

.snowflake:nth-child(5) {
  left: 45%;
  animation-duration: 4s;
}

.snowflake:nth-child(6) {
  left: 55%;
  animation-duration: 5.5s;
}

.snowflake:nth-child(7) {
  left: 65%;
  animation-duration: 4.2s;
}

.snowflake:nth-child(8) {
  left: 75%;
  animation-duration: 3.8s;
}

.snowflake:nth-child(9) {
  left: 85%;
  animation-duration: 4.6s;
}

.snowflake:nth-child(10) {
  left: 95%;
  animation-duration: 5.2s;
}

@keyframes fall {
  0% {
    top: -10px;
    transform: translateX(0) rotate(0deg);
    opacity: 0.9;
  }

  25% {
    transform: translateX(-10px) rotate(-5deg);
  }

  50% {
    transform: translateX(10px) rotate(5deg);
  }

  75% {
    transform: translateX(-15px) rotate(-8deg);
  }

  100% {
    top: 45%;
    transform: translateX(20px) rotate(10deg);
    opacity: 0.3;
  }
}

.city-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
  margin-top: 54%;
}

.weather-description {
  font-size: 1.3rem;
  font-weight: bold;
  color: #2c3e50;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 6px;
  background-color: #d0e6f7;
  padding: 6px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: capitalize;
}

.weather-description,
.city-header,
.city-details {
  color: #1d17c4;
}