.sunny-container {
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: #1347e3;
  text-shadow: 0 0 3px rgba(12, 22, 216, 0.7);
  max-width: 800px;
  margin: 2rem auto;
  text-align: center;
  background-color: white;
}

.sun {
  position: relative;
  margin: 0 auto 1rem;
  width: 80px;
  height: 80px;
  background: radial-gradient(circle, #FFD700 60%, #FFA500);
  border-radius: 50%;
  box-shadow: 0 0 20px 5px #FFD700;
}

/* Rayos solares usando pseudo-elementos */
.sun::before,
.sun::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 140px;
  height: 140px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  border: 2px dashed rgba(255, 215, 0, 0.5);
  animation: rays 2s linear infinite;
}

.sun::after {
  animation-delay: 1s;
}

@keyframes rays {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.6;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}

.city-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.weather-description{
  font-size: 1.3rem;        
  font-weight: bold;        
  color: #2c3e50;            
  text-align: center;       
  margin-top: 8px;
  margin-bottom: 6px;
  background-color: #d0e6f7; 
  padding: 6px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: capitalize; 
}

.weather-description,
.city-header,
.city-details {
  color: #1d17c4;
}