.unknown-weather-container {
  text-align: center;
  background-color: #f0f8ff;
  position: relative;
  overflow: hidden;
  min-height: 200px;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  color: #1347e3;
  text-shadow: 0 0 3px rgba(12, 22, 216, 0.7);
  max-width: 800px;
  margin: 2rem auto;
}

/* Contenedor de íconos en línea horizontal */
.weather-icons-ring {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin: 2rem auto;
}

/* Íconos flotando uniformemente */
.weather-icon {
  font-size: 28px;
  animation: floatIcon 2.5s ease-in-out infinite alternate;
}

/* Animación de flotación suave */
@keyframes floatIcon {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-6px);
  }
}

/* .weather-icon sun {
  color: #f39c12;
} */

.weather-description {
  font-size: 1.3rem;        
  font-weight: bold;        
  color: #2c3e50;            
  text-align: center;       
  margin-top: 8px;
  margin-bottom: 6px;
  background-color: #d0e6f7; 
  padding: 6px 12px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-transform: capitalize; 
}